.draw-canvas {
    max-height: 90vh;
    max-width: 100%;
}

.colour-input {
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
