<div class="container-lg mb-3">
  <h1 id="title" class="text-center">Hitomezashi Patterns</h1>
  <div class="row">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" [formControl]="mode" value="square"
        autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnradio1">Square</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" [formControl]="mode" value="isometric"
        autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio2">Isometric</label>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md">
      <div class="d-flex justify-content-center" *ngIf="this.loading">
        <span class="me-3">Colouring</span>
        <div class="spinner-border" role="status">
        </div>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="this.colourFail">
        Failed to colour pattern
      </div>
      <canvas id="hit-canvas" class="draw-canvas" width=1000
        [height]="this.mode.value === 'square' ? 1000: 900"></canvas>
    </div>
    <div class="col-md">
      <div *ngIf="this.mode.value === 'isometric'">
        <app-isometric-form (draw)="drawIsometric($event)"></app-isometric-form>
      </div>
      <div *ngIf="this.mode.value === 'square'">
        <app-square-form (draw)="drawSquare($event)"></app-square-form>
      </div>
      <button class="btn btn-primary mt-3" (click)="clearCanvas()">Clear</button>
    </div>
  </div>
</div>