.colour-input {
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    vertical-align: middle;
}

.colour-label {
    vertical-align: middle;
    margin-right: 0.5rem;
}
